.paperStyle{   
    width:280px;   
}
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.firstName{
    display: block;
}
.subBtn{
    padding:20px;
}