.header{
    background-color:#222;
    height:36px;
    padding:8px 32px 8px 16px;   
    
}
.logo{
    background-color: #ff7f7f;
    height:35px;
    animation: rotation 8s linear infinite;
}
.loginButton{
margin:10px;
}
.buttonDiv{
    float:right;
    
}
.form-dialog {
    width: 100%;
    max-width: 450px;
}
.modalCenter{
top:50%;
transform:translateY(-50%) !important;
    
}